.viewport {
  height: 100%;
  background-color: white;

  .logo {
    display: flex;
    justify-content: center;
    image {
      width: 120rpx;
      height: 120rpx;
      margin-top: 20vh;
    }
  }

  .form {
    margin-top: 40rpx;

    .uni-forms-item {
      padding: 0 30rpx;
      .uni-easyinput {
        border-bottom: 1px solid #ddd;
      }
      .uni-easyinput__placeholder-class {
        font-size: 1rem;
      }
    }
  }

  .button {
    background-color: var(--brc-button-primary-background);
    color: white;
    margin: 0 20rpx;
  }

  .phone {
    margin-top: 80rpx;
    font-size: 28rpx;
  }

  .tips {
    position: absolute;
    bottom: 80rpx;
    left: 20rpx;
    right: 20rpx;
    font-size: 22rpx;
    color: #999;
    text-align: center;
  }
}
