/**
 * 导航栏
 */
.navbar {
  background-color: var(--brc-button-primary-background);
  position: relative;
  display: flex;
  flex-direction: column;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30rpx;
    //height: 86rpx;
    line-height: 76rpx;
    .logo-image {
      //width: 166rpx;
      //height: 39rpx;
      // 字体样式
      color: white;
      font-size: 28rpx;
    }
    .logo-text {
      flex: 1;
      line-height: 28rpx;
      color: white;
      margin: 2rpx 0 0 20rpx;
      padding-left: 20rpx;
      border-left: 1rpx solid #fff;
      font-size: 26rpx;
    }
  }

}
